{% extends 'template.html.twig' %} {% block title %}Error{% endblock %} {% block
content %}

<div class="row mx-auto py-5">
  <div class="col-6 offset-3">
    <div class="card my-3 bg-light border-success">
      <div class="card-header">
        <div class=""><h3>Erreur !!!</h3></div>
      </div>

      <div class="card-body">
        <div class="card-text font-weight-bold">{{ error }}</div>
      </div>
    </div>
  </div>
</div>

{% endblock %}