<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Ski Championship Management{% endblock %}</title>
  </head>

  <body>
    {% block body %}
      <h1>Welcome</h1>
    {% endblock %}
  </body>
</html>
